
.com{
    justify-content: center;
    width: 100%;
}

.login{
    /* background: red; */
    width: 50%;
    height: 80%;
    border-radius: 5;
}

.caja{
    display: block;
    justify-content: center;
    max-width: 100%;
}

.form{
    width: 100%; 
    padding: 5px;
    margin-top: 5px;
    
}

.textColor{
  color: aliceblue; 
}

.textTitle{
  color: rgb(2, 2, 2); 
  font-weight: bold;
}


.cuerpo {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
 
  .centro {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  


  .profileImagen {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }


  .ex-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  ::ng-deep .mat-form-field-appearance-outline.specific-border .mat-form-field-outline  {
    background-color: lightgray !important;
    border-radius: 5px;  
}