<div>
  <div class="centro">
    <div class="login ">
      <div class="h4 text-center font-weight-light p-1 textTitle"> New Tool or Material</div>
      <div class="m-1">
        <div class="caja">
          <br>
          <div class="mat-elevation-z4">
           
            <div class="d-flex justify-content-center mt-2" *ngIf="!viewSafeResourceUrl">
              <img class="imPreview profileImagen" [src]="craftImagePreview" alt="craftUploaded">
            </div>
            
            <div class="d-flex justify-content-center mt-2" *ngIf="viewSafeResourceUrl">
              <img class="imPreview profileImagen"  [src]="this.ing" alt="craftUploaded">
            </div>

            <div class="d-flex justify-content-center m-3">
              <input type="file" name="photo" id="inp" (change)="onFileChange2($event)" #fileInput>
            </div>
            <br>
          </div>


          <div class="mt-3 mb-3 mat-elevation-z4">
            <mat-card class="result ">
              <mat-card-content>

                <h2 class="ex-h2">Object Type:</h2>
                <div class="d-flex justify-content-cente">
                  <section class="example-section">
                    <mat-checkbox class="example-margin" (change)=" checkboxchMaterial()" [(ngModel)]="checked"
                      [(indeterminate)]="indeterminate" [labelPosition]="labelPosition" [disabled]="disabled"
                      [color]="color">
                      Material
                    </mat-checkbox>
                  </section>

                  <section class="example-section">
                    <mat-checkbox class="example-margin" (change)=" checkboxchTool()" [(ngModel)]="checkedTool"
                      [(indeterminate)]="indeterminateTool" [labelPosition]="labelPositionTool"
                      [disabled]="disabledTool" [color]="color">
                      Tool
                    </mat-checkbox>
                  </section>
                </div>
              </mat-card-content>
            </mat-card>
          </div>


          <form [formGroup]="profileForm" class="col-12 ">

            <div class="mat-elevation-z4 mb-3">
                <h2 class="ex-h2">Object data:</h2>
              <div class="container">

               <div class="input-group mb-3">
                <mat-form-field data-toggle="tooltip" title="Ingrese Nombre" class="form-control">
                   <mat-label>Name</mat-label>
                     <input matInput type="text" class="" placeholder="Name" formControlName="itemName" id="itemName" required>
                </mat-form-field>
               </div>
             

                <!-- <label for="itemName" class="m-1 ">Name:</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" formControlName="itemName" id="itemName" placeholder="Name"
                    aria-label="itemName" aria-describedby="basic-addon2" required>
                </div> -->


                <label for="itemNumber" class="m-1">Quantity:</label>
                <div class="input-group mb-3">
                  <input type="number" min="0" class="form-control" formControlName="itemNumber" id="itemNumber"
                    placeholder="Item Number" aria-label="itemNumber" aria-describedby="basic-addon2">
                </div>


                <label for="itemType" class="m-1 ">Type:</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" formControlName="itemType" id="itemType"
                    placeholder="Item Type" aria-label="itemType" aria-describedby="basic-addon2">
                </div>


                <label for="itemUse" class="m-1">Use:</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" formControlName="itemUse" id="itemUse" placeholder="Item Use"
                    aria-label="itemUse" aria-describedby="basic-addon2">
                </div>


                <label for="itemDescription" class="m-1">Description:</label>
                <div class="input-group mb-3">
                  <input type="text" min="0" class="form-control" formControlName="itemDescription"
                    id="itemDescription" placeholder="Description..." aria-label="itemDescription"
                    aria-describedby="basic-addon2">
                </div>
              </div>
              <br>
            </div>
           
            <div class="mat-elevation-z4 mt-3 mb-3" *ngIf="checked">
              <div class="container">
                <h2 class="ex-h2">Alerts Section:</h2>
                <div class="col mt-1">
                  <section class="example-section">
                    <mat-checkbox class="example-margin" (change)="showAlert()" [(ngModel)]="showAlertcheck"
                      [ngModelOptions]="{standalone: true}" [(indeterminate)]="indeterminateTool"
                      [labelPosition]="labelPositionTool2" [disabled]="disabledTool" [color]="color">
                      Show Alert:
                    </mat-checkbox>
                  </section>
                </div>

                <div class="col mt-1">
                  <label for="alertAmounts" class="m-1">Alert:</label>
                  <div class="input-group mb-3">
                    <input type="number" min="0" class="form-control" formControlName="alertAmounts" id="alertAmounts"
                      placeholder="0" aria-label="alertAmounts" aria-describedby="basic-addon2">
                  </div>
                </div>

                <div class="col mt-1">
                  <label for="category" class="m-1">Select an Category:</label>
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <!-- <mat-label>Select an Category</mat-label> -->
                    <mat-select [(value)]="selected" formControlName="category" id="category"
                      (selectionChange)="showCategory($event)">
                      <mat-option *ngFor="let state of categories" [value]="state"> {{state}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <br>
            </div>
            <div class="mat-elevation-z4 mb-3">
                <h2 class="ex-h2">Storage:</h2>
                
                

                <div class="container">

                  <div class="input-group mb-3">
                    <mat-form-field data-toggle="tooltip" title="Ingrese Nombre" class="form-control">
                       <mat-label>Unit</mat-label>
                         <input matInput type="text" class="" placeholder="Store unit" formControlName="unit" id="unit" required>
                    </mat-form-field>
                   </div>

                    <!-- <label for="unit" class="m-1 ">Unit:</label>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" formControlName="unit" id="storeArea" placeholder="Store unit"
                        aria-label="Store unit" aria-describedby="basic-addon2">
                    </div> -->

                    <div class="input-group mb-3">
                      <mat-form-field data-toggle="tooltip" title="Ingrese Nombre" class="form-control">
                         <mat-label>Area</mat-label>
                           <input matInput type="text" class="" placeholder="Store Area" formControlName="storeArea" id="storeArea" required>
                      </mat-form-field>
                     </div>

                  <!-- <label for="storeArea" class="m-1 ">Area:</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" formControlName="storeArea" id="storeArea" placeholder="Store Area"
                      aria-label="Store Area" aria-describedby="basic-addon2">
                  </div> -->
  
                  <label for="storeSecction" class="m-1 ">Secction:</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" formControlName="storeSecction" id="storeSecction"
                      placeholder="Store Secction" aria-label="itemType" aria-describedby="basic-addon2">
                  </div>
  
                  <label for="storeType" class="m-1">Type:</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" formControlName="storeType" id="itemUse" placeholder="Store Type"
                      aria-label="storeType" aria-describedby="basic-addon2">
                  </div>
  
                </div>
                <br>
              </div>
            <br>
          </form>
          <br>
          <div class="d-flex justify-content-center mt-2">
            <button type="button" class="btn btn-primary m-1 " (click)="sendNew()">{{button}}</button>
            <button type="button" class="btn btn-primary m-1 " (click)="onCancel()">Cancel</button>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
