<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Storage"
        tools:targetApi="31" >
        <activity
            android:name=".DetaillMapActivity"
            android:parentActivityName=".MapListActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MapListActivity" />
        </activity>
        <activity
            android:name=".AddMapActivity"
            android:exported="false"
            android:parentActivityName=".MapListActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MapListActivity" />
        </activity>
        <activity
            android:name=".MapListActivity"
            android:exported="false"
            android:parentActivityName=".ShowStoreList" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ShowStoreList" />
        </activity>
        <activity
            android:name=".CloudActivity"
            android:exported="false"
            android:parentActivityName=".BackupViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="BackupViewActivity" />
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SelectUnitActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AddUnitActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NewMaterialActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BackupViewActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ViewItemDetailActivity"
            android:exported="false"
            android:parentActivityName=".ShowStoreList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ShowStoreList" />
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NewItemView"
            android:exported="false"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ShowListSearchActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ShowStoreList"
            android:exported="false"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>