* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  .nav-bt {
    text-shadow: -3px -2px 2px black;
    /* font-weight: bolder; */
  }
  
  .nav-bt1:hover{
    font-size: x-large;
  }
  
  
  .barbackground {
    /* background-color: rgb(41, 110, 212); */
    background-color: rgb(14, 13, 13);
    /* background: rgb(14, 13, 13); */
  }
  
  /* fin de barra nav ================================================================== */
  
  /* cuerpo==================================================================================== */
  
  .fondoMenu {
    /* background-color: rgb(184, 171, 155); */
    background-color: rgb(41, 110, 212);
  }
  
  .menueulli {
    text-shadow: -2px -1px 1px rgb(48, 47, 47);
    /* font-weight: bolder; */
  }
  
  .fondoCuerpo {
    /* background-color: rgb(145, 126, 104); */
    /* background-color: rgb(82, 100, 197);  */
    /* background-color: rgb(184, 191, 228); */
    background-color: rgb(229, 231, 240);
    color: black;
  }
  
  .imgFoto {
    max-width: 300px;
    max-height: 300px;
    height: 200px;
    width: 180px;
  }
  
  .alto {
    height: 500px;
  }
  
  
  /* .fixed-top {
    top: 50px;
  } */
  
  
  .bt {
    text-shadow: -3px -2px 2px black;
    font-weight: bolder;
  }
  
  
  .bt:hover {
    font-size: x-large;
  }
  
  ul li {
    list-style: none
  }
  
  .show {
    display: none;
  }
  
  
  @media only screen and (max-width: 760px) and (min-width: 640px) {
    ul li {
      margin-left: 0;
      padding-right: 5px;
      padding-left: 0;
    }
  
    .text-white {
      padding-right: 5px;
      font-size: 10px;
      text-align: left;
    }
  
    .nombre {
      font-size: 15px;
    }
  
    .itemMenue {
      padding-left: 0;
      padding-right: 5px;
    }
  
    .rithg-panel {
      padding-left: 150px !important;
    }
  
  }
  
  
  @media only screen and (max-width: 640px) and (min-width: 460px) {
    ul li {
      margin-left: 0;
      padding-right: 5px;
      padding-left: 0;
    }
  
    .text-white {
      padding-right: 5px;
      font-size: 10px;
      text-align: left;
      margin-left: 0;
    }
  
    .nombre {
      font-size: 10px;
    }
  
    .itemMenue {
      padding-left: 0;
      padding-right: 3px;
    }
  
    .rithg-panel {
      padding-left: 30px !important;
    }
  
  
  }
  
  
  @media only screen and (max-width: 575px) and (min-width: 200px) {
    .show {
      display: block;
    }
  }
  
  @media only screen and (max-width: 460px) and (min-width: 200px) {
    .show {
      display: block;
    }
  
    .rithg-panel {
      padding-left: 0 !important;
    }
  }
  
  
  #bi {
    /* z-index: 10; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 900px;
    margin-top: 10px;
  }
  
  
  .left-panel {
    /* background: #fff; */
    background: rgb(14, 13, 13);
    height: 100vh;
    /* height: 100%; */
    padding: 0;
    vertical-align: top;
    width: 200px !important;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 80px;
    z-index: 9;
  }
  
  .rithg-panel {
    height: 100%;
    width: 100%;
    padding-left: 215px;
    padding-right: 0;
  }
  
  .text-white-menu {
      padding-right: 5px;
      font-size: 10px;
      text-align: left;
      margin-left: 0;
    }
  
  
    .search-trigger {
      background: transparent;
      border: none;
      color: #99abb4;
      cursor: pointer;
      font-size: 16px;
      /* line-height: 55px; */
      padding: 0;
      width: 43px; }
  
      .textColor1{
          color: white;
        }
  
        .profileImagen {
          display: inline-block;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
  
  
        .tooltip-button {
          margin-top: 16px;
        }
        
        .tooltip-tooltip-red {
          background: #b71c1c;
          border: rgb(192, 188, 188) solid 1px;
          box-shadow: 5px 5px 5px rgb(77, 77, 77);
        }
  
        .tooltip-tooltip-wite {
          background: rgb(12, 12, 12);
          border: rgb(192, 188, 188) solid 1px;
          box-shadow: 5px 5px 5px rgb(77, 77, 77);
        }