<!-- <div class="m-3 border">
  <div class="border">
    <img [src]="this.ing" />
  </div>

  <div class="text_titulo mt-4 ">
    <label for=""> Item:</label>
  </div>
  <div>
    <label for=""> Name ={{name}}</label>
  </div>
  <div>
    <label for=""> Quantity ={{quantity}}</label>
  </div>
  <div>
    <label for=""> Type ={{type}}</label>
  </div>
  <div>
    <label for=""> Use ={{use}}</label>
  </div>
  <div>
    <label for=""> Description ={{description}}</label>
  </div>
  <div>
    <label for="" class="text_titulo mt-2 "> Storage:</label>
  </div>
  <div>
    <label for=""> Area ={{areaStorage}}</label>
  </div>
  <div>
    <label for=""> Type ={{typeStorage}}</label>
  </div>
  <div>
    <label for=""> Espace ={{espaceStorage}}</label>
  </div>
</div> -->


<div class="card mt-3">
  <div class="content d-flex justify-content-center">
    <div class="front parent">
      <img class="imagen" [src]="this.ing" />
    </div>
    <div class="back parent">
        <div class="container">
            <div class="row">
                <div class="col backElement"  style="background-color: rgb(238, 233, 233); margin: 5px;"> 
                  <samp class="mt-2 text_titulo">
                    Item:
                  </samp>
                </div>
              </div>
            <div class="row">
              <div class="col"> Name =</div>
              <div class="col">{{name}}</div>
            </div>
            <div class="row">
              <div class="col"> Quantity =</div>
              <div class="col">{{quantity}}</div>
            </div>
            <div class="row">
              <div class="col"> Type =</div>
              <div class="col">{{type}}</div>
            </div>
            <div class="row">
              <div class="col"> Use =</div>
              <div class="col">{{use}}</div>
            </div>
            <div class="row">
              <div class="col"> Description =</div>
              <div class="col">c{{description}}</div>
            </div>
            <div class="row">
              <div class="col backElement" style="background-color: rgb(238, 233, 233); margin: 5px;">
                <samp class="mt-2 text_titulo">
                  Storage:
                </samp>
               
                <div class="row">
                  <div class="col"> Area =</div>
                  <div class="col"> {{areaStorage}}</div>
                </div>
                <div class="row">
                  <div class="col"> Type =</div>
                  <div class="col">{{typeStorage}}</div>
                </div>
                <div class="row">
                  <div class="col"> Espace =</div>
                  <div class="col">{{espaceStorage}}</div>
                </div>
              </div>
            </div>
            
          </div>
    </div>
  </div>
</div>


