

<header>
    <mat-toolbar class="col mat-elevation-z8 titleMarco" >
     <label for="title" class="m-1 h3">{{this.title}}</label>
    </mat-toolbar>
 </header>

 <section class="mt-1">
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="vertical three dot icon" (click)="onCancel()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
      </div>
    </div>
  </section>
 <br>

<div class="container">

    <div class="col-12 mt-3">
    
      <div>
        <label class="m-1 textColor" style="font-weight: bolder; font-size: larger;">{{infoText}}</label>
      </div>
    
      <div *ngIf="!questionRecive">
        <label for="mail" class="m-1 textColor">Email:</label>
        <div class="input-group mb-3">
          <input  type="email"  class="form-control"  [(ngModel)]="mail" required="" />
        </div>
      </div>
    
    
      <div *ngIf="questionRecive">
        <label for="pregunta" class="m-1 textColor">Question:</label>
        <div class="input-group mb-3">
            <label  class="m-1 textColor" id="pregunta">{{pregunta}}</label>
          <!-- <input type="text" class="form-control" [(ngModel)]="pregunta" id="pregunta" placeholder="User Question"
            aria-label="pregunta" aria-describedby="basic-addon2"> -->
        </div>
      </div>
    
    
    
      <div *ngIf="questionRecive">
        <label for="respuesta" class="m-1 textColor">Answer:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="respuesta" id="respuesta" placeholder="User Answer"
            aria-label="respuesta" aria-describedby="basic-addon2">
        </div>
      </div>
    
      
      <div class="m-4"  *ngIf="isNotification" style="text-align: center;">
        <samp style="color: red; font-weight: bolder; font-size: larger;">{{notification}}</samp>
      </div>
    
    
    </div>

    <br>
    <div class="d-flex justify-content-center mt-5">
      <button type="button" class="btn btn-primary m-1 " (click)="onSend()" *ngIf="!questionRecive">Send</button>
      <button type="button" class="btn btn-primary m-1 " (click)="onRecovery()" *ngIf="questionRecive">Recovery</button>
      <button type="button" class="btn btn-primary m-1 " (click)="onCancel()">Cancel</button>
    </div>

</div>


