<div>
  <div class="centro">
    <div class="login ">
      <div class="h4 text-center font-weight-light p-1 textTitle"> Enter The User Profile Data:</div>
      <div class="m-1">

        <div *ngIf="this.haveKey" class="h4 text-center font-weight-light p-1 textTitle">
          The answer and password must be uploaded again.
        </div>
        <div class="caja">


          <form [formGroup]="profileForm" class="col-12">

            <label for="userFirsName" class="m-1 textColor">FirsName:</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="userFirsName" id="userFirsName"
                placeholder="User FirsName" aria-label="userFirsName" aria-describedby="basic-addon2">
            </div>


            <label for="userLastName" class="m-1 textColor">LastName:</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="userLastName" id="userLastName"
                placeholder="User LastName" aria-label="userLastName" aria-describedby="basic-addon2">
            </div>



            <label for="mail" class="m-1 textColor">Email:</label>
            <div class="input-group mb-3">
              <input [class.is-invalid]="profileForm.get('mail').invalid && profileForm.get('mail').touched"
                type="email" class="form-control" formControlName="mail" />
            </div>


            <!-- <label for="userName" class="m-1 textColor">UserName:</label>
            <div class="input-group mb-3">
              <input type="password" class="form-control" formControlName="userName" id="userName"
                placeholder="User name" aria-label="userName" aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2" (click)="viewUserName()">
                <mat-icon>{{iconUser}}</mat-icon>
              </span>
            </div> -->


            <label for="password" class="m-1 textColor">Password:</label>
            <div class="input-group mb-3">
              <input type="password" class="form-control" formControlName="password" id="password"
                placeholder="password" aria-label="password" aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2" (click)="viewPassword()">
                <mat-icon>{{icon}}</mat-icon>
              </span>
            </div>


            <label for="pregunta" class="m-1 textColor">Question:</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="pregunta" id="pregunta"
                placeholder="User Question" aria-label="pregunta" aria-describedby="basic-addon2">
            </div>


            <label for="respuesta" class="m-1 textColor">Answer:</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="respuesta" id="respuesta"
                placeholder="User Answer" aria-label="respuesta" aria-describedby="basic-addon2">
            </div>

            <!-- <div >
              <label for="keyAcces" class="m-1 textColor">keyAcces:</label>
              <div class="input-group mb-3">
                <input type="password" class="form-control" formControlName="keyAcces" id="keyAcces"
                  placeholder="keyAcces" aria-label="keyAcces" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2" (click)="viewKeyAcces()">
                  <mat-icon>{{icon}}</mat-icon>
                </span>
              </div>
            </div> -->

          </form>


        </div>
        <div class="d-flex justify-content-center mt-2">
          <button type="button" class="btn btn-primary m-1 " (click)="sendNewUser()">{{button}}</button>
          <button type="button" class="btn btn-primary m-1 " (click)="onCancel()">Cancel</button>
        </div>

        <div class="m-4" *ngIf="isNotification" style="text-align: center;">
          <samp style="color: red; font-weight: bolder; font-size: larger;">{{notification}}</samp>
        </div>

        <br>
      </div>
    </div>
  </div>
</div>

<br>
<br>
